<div class="col-md-12 m-auto pt-3 text-center">
	<h6>{{page_title}}</h6>
	<hr/>
	<div class="row mb-3">
		<div class="col-md-5 m-auto alert alert-success" *ngIf="status == 'success'">
			{{message}} Ahora <a [routerLink]="['/login']">loguéate</a>
		</div>
		<div class="col-md-5 m-auto alert alert-danger" *ngIf="status == 'error'">
			{{message}}
		</div>	
	</div>
	<div class="row">
		<form class="col-md-5 m-auto p-0" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
			<div class="form-group">
				<input type="text" placeholder="Nombre" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s]+" required/>
				<small *ngIf="name.invalid && name.touched" class="invalid-feedback d-block">
					El nombre no es correcto
				</small>
			</div>
			<div class="form-group">
				<input type="text" placeholder="Apellidos" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" pattern="[a-zA-Z0-9ñÑáéíóúÁÉÍÓÚ\s]+" required/>
				<small *ngIf="surname.invalid && surname.touched" class="invalid-feedback d-block">
					Los apellidos no son correctos
				</small>
			</div>
			<div class="form-group">
				<input type="email" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
				<small *ngIf="email.invalid && email.touched" class="invalid-feedback d-block">
					El email no es correcto
				</small>
			</div>
			<div class="form-group">
				<input type="password" placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required/>
				<small *ngIf="password.invalid && password.touched" class="invalid-feedback d-block">
					La password debe tener un mínimo 
				</small>
			</div>
			<input type="submit" class="btn btn-info" value="Registrarme" [disabled]="registerForm.invalid"/>
		</form>	
	</div>
	
</div>

